/* estilos.css */

/* Estilo para el texto largo */
p {
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: normal; 
}

/* Estilo para el contenedor principal */
main {
    max-width: 800px; 
    margin: 0 auto; 
}

/* Fondo del cuerpo */
body {
    background-image: url("{% static 'img/fondodemontañas.png' %}");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
}

/* Opciones de color circulares */
.color-option {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
}

/* Estilo para las tarjetas */
.card {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

/* Navbar y footer */
.navbar {
    background-color: rgba(29, 127, 151, 0.7); 
    width: 100%; 
    position: fixed; 
    top: 0; 
    z-index: 1000; 
}

.navbar a {
    color: rgb(255, 255, 255) !important; 
}

.navbar-brand .logo {
    height: 40px; 
    width: auto; 
    margin-right: 8px; 
}

/* Footer */
.footer {
    background-color: rgba(29, 127, 151, 0.7); 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    padding: 20px 0; 
    text-align: center; 
    color: rgb(255, 255, 255) !important; 
}

/* Estilos para la tabla de inventario */
#inventoryTable thead th {
    background-color: #65bac5 !important;
    color: white; 
    text-align: center; 
}

#inventoryTable td {
    text-align: center; 
    padding: 10px; 
}

#inventoryTable tbody tr:hover {
    background-color: #f2f2f2; 
}

/* Alineación de los botones */
.mt-4.text-right {
    text-align: right; 
}

body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start; 
    height: 100vh; 
    margin: 0; 
    padding-top: 56px; 
}

.card {
    width: 100%; 
    margin-top: 20px; 
}

.container {
    display: flex;
    justify-content: center; 
    width: 100%; 
}

.table-container {
    width: 100%; 
    padding: 20px; 
}

#inventoryTable {
    width: 100%; 
    border-collapse: collapse; 
    margin-bottom: 20px; 
}

#inventoryTable th, #inventoryTable td {
    padding: 15px; 
}

.content .inventory-section {
    margin-bottom: 20px; 
}

.button-group {
    display: flex;
    justify-content: flex-end; 
    gap: 10px; 
}

.modal-dialog {
    max-width: 600px; 
    margin: 1.75rem auto; 
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: #007bff;
}

p {
    font-family: 'Georgia', serif;
    font-size: 1.1rem;
    line-height: 1.8;
    color: #333;
}

.list-group-item-action {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.list-group-item-action:hover {
    background-color: #007bff;
    color: white;
}