{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/logo_transparente.png' %}">
    <title>All Snow - Vive la nieve al máximo</title>
    <link rel="stylesheet" href="{% static 'css/stylesinicio.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'inicio' %}">Inicio</a></li>
                <li><a href="#sobre-nosotros">Sobre nosotros</a></li>
                <li><a href="#centros-asociados">Centros asociados</a></li>
                <li><a href="{% url 'trabaja_con_nosotros' %}">Trabaja con nosotros</a></li>
                <li><a href="{% url 'registrarme' %}">Registrarme</a></li>
                
            </ul>
            <a href="{% url 'login' %}" class="login-btn">Iniciar Sesión</a>
            
        </nav>
    </header>
    
    <main>
        <section class="hero">
            <img src="{% static 'img/fondo.png' %}" alt="Paisaje de nieve">
        </section>
    </main>
    
    <footer class="footer">
        <div class="contact">
            <p><strong>CONTACTO</strong></p>
            <p>📞 +56971528690</p>
            <p>📧 allsnowcl@gmail.com</p>
        </div>
    </footer>
    <script src="{% static 'css/scriptinicio.js' %}"></script>
</body>
</html>
