{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ tienda.nombre_tienda }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/filtro_tienda.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">
            <img src="{% static 'img/logo.png' %}" alt="Logo All Snow" class="logo"> 
            All Snow
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="#">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Sobre nosotros</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Centros asociados</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Trabaja con nosotros</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Registrarme</a></li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <h2 class="text-uppercase">Centro de Rental "{{ tienda.nombre_tienda }}"</h2>
                <p>{{ tienda.descripcion }}</p>
                <div class="d-flex mt-3">
                    <a href="#" class="btn btn-primary mr-2">Comprar</a>
                    <a href="#" class="btn btn-primary">Arrendar</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    {% for imagen in tienda.imagenes.all %}
                        <div class="col-6 mb-3">
                            <img src="{{ imagen.url }}" class="img-fluid" alt="Imagen de {{ tienda.nombre_tienda }}">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <p><strong>Contacto:</strong> <br> 
                Teléfono:📞+56923917032 <br> 
                Correo: ✉️allsnowcl@gmail.com
            </p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>