{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/logo_transparente.png' %}">
    <title>All Snow - Vive la nieve al máximo</title>
    <link rel="stylesheet" href="{% static 'css/trabaja_con_nosotros1.css' %}">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <a class="navbar-brand">
                <img src="{% static 'img/logo.png' %}" alt="Logo All Snow" class="logo"> 
                All Snow
            </a>    
            <ul class="nav-links">
                
                <li><a href="{% url 'inicio' %}" class="btn">Inicio</a></li>
                <li><a href="{% url 'sobre_nosotros' %}" class="btn">Sobre Nosotros</a></li>
                <li><a href="#centros-asociados" class="btn">Centros asociados</a></li>
                <li><a href="{% url 'trabaja_con_nosotros' %}" class="btn">Trabaja con nosotros</a></li>
                <li><a href="{% url 'registrarme' %}" class="btn">Registrarme</a></li>
            </ul>
            <a href="{% url 'login' %}" class="btn">Iniciar Sesión</a>
        </nav>
    </header>
    
    <main>
        <section class="hero">
            <img src="{% static 'img/fondo.png' %}" alt="Paisaje de nieve">
        </section>
            <!-- Formulario de Solicitud de Tienda y Usuario -->
            <section class="formulario-trabaja-con-nosotros" id="formularioTrabajaConNosotros">
                <div class="form-container">
                    <h3>Trabaja con Nosotros</h3>
                    <br>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group">
                                <h4>Datos Usuario</h4>
                                <p>{{ form_usuario.nombre.label_tag }} {{ form_usuario.nombre }}</p>
                                <p>{{ form_usuario.apellido.label_tag }} {{ form_usuario.apellido }}</p>
                                <p>{{ form_usuario.rut.label_tag }} {{ form_usuario.rut }}</p>
                                <p>{{ form_usuario.telefono.label_tag}} {{ form_usuario.telefono }}</p>
                                <p>{{ form_usuario.correo.label_tag }} {{ form_usuario.correo }}</p>
                                <p>{{ form_usuario.contraseña.label_tag }} {{ form_usuario.contraseña }}</p>
                            </div>
                            
                            <div class="form-group">
                                <h4>Datos Local</h4>
                                <p>{{ form_local.nombre_local.label_tag }} {{ form_local.nombre_local }}</p>
                                <p>{{ form_local.patente.label_tag }} {{ form_local.patente }}</p>
                                <p>{{ form_local.ubicacion.label_tag }} {{ form_local.ubicacion }}</p>
                            </div>
                        </div>
                        
                        <button type="submit" class="btn">Registrar Local</button>
                    </form>
                    <p>Al registrarte aceptas los términos y condiciones.</p>
                </div>
            </section>            
        </div>
    </main>
    <footer class="footer">
        <div class="contact">
            <p><strong>CONTACTO</strong></p>
            <p>📞 +56971528690</p>
            <p>📧 allsnowcl@gmail.com</p>
        </div>
    </footer>
    <script src="{% static 'css/scriptinicio.js' %}"></script>
</body>
</html>